[Unit]
Description=Omastat app usage daemon
Documentation=https://wiki.hypr.land/IPC/
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
Environment=PATH=%h/.cargo/bin:%h/.local/bin:/usr/local/bin:/usr/bin
ExecStart=/usr/bin/env omastatd
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
